# This file was created by the command:
# steps/nnet3/xconfig_to_configs.py --xconfig-file exp/chain/tdnn_1b_sp/configs/network.xconfig --config-dir exp/chain/tdnn_1b_sp/configs/
# It contains the entire neural network, but with those
# components that would normally require fixed vectors/matrices
# read from disk, replaced with random initialization
# (this applies to the LDA-like transform and the
# presoftmax-prior-scale, if applicable).  This file
# is used only to work out the left-context and right-context
# of the network.

input-node name=ivector dim=100
input-node name=input dim=43
component name=lda type=FixedAffineComponent input-dim=229 output-dim=229
component-node name=lda component=lda input=Append(Offset(input, -1), input, Offset(input, 1), ReplaceIndex(ivector, t, 0))
component name=tdnn1.affine type=NaturalGradientAffineComponent input-dim=229 output-dim=1024  max-change=0.75 l2-regularize=0.01
component-node name=tdnn1.affine component=tdnn1.affine input=lda
component name=tdnn1.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnn1.relu component=tdnn1.relu input=tdnn1.affine
component name=tdnn1.batchnorm type=BatchNormComponent dim=1024 target-rms=1.0
component-node name=tdnn1.batchnorm component=tdnn1.batchnorm input=tdnn1.relu
component name=tdnn1.dropout type=GeneralDropoutComponent dim=1024 dropout-proportion=0.0 continuous=true
component-node name=tdnn1.dropout component=tdnn1.dropout input=tdnn1.batchnorm
component name=tdnnf2.linear type=TdnnComponent input-dim=1024 output-dim=128 l2-regularize=0.01 max-change=0.75 use-bias=false time-offsets=-1,0 orthonormal-constraint=-1.0
component-node name=tdnnf2.linear component=tdnnf2.linear input=tdnn1.dropout
component name=tdnnf2.affine type=TdnnComponent input-dim=128 output-dim=1024 l2-regularize=0.01 max-change=0.75 time-offsets=0,1
component-node name=tdnnf2.affine component=tdnnf2.affine input=tdnnf2.linear
component name=tdnnf2.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnnf2.relu component=tdnnf2.relu input=tdnnf2.affine
component name=tdnnf2.batchnorm type=BatchNormComponent dim=1024
component-node name=tdnnf2.batchnorm component=tdnnf2.batchnorm input=tdnnf2.relu
component name=tdnnf2.dropout type=GeneralDropoutComponent dim=1024 dropout-proportion=0.0 continuous=true
component-node name=tdnnf2.dropout component=tdnnf2.dropout input=tdnnf2.batchnorm
component name=tdnnf2.noop type=NoOpComponent dim=1024
component-node name=tdnnf2.noop component=tdnnf2.noop input=Sum(Scale(0.66, tdnn1.dropout), tdnnf2.dropout)
component name=tdnnf3.linear type=TdnnComponent input-dim=1024 output-dim=128 l2-regularize=0.01 max-change=0.75 use-bias=false time-offsets=-1,0 orthonormal-constraint=-1.0
component-node name=tdnnf3.linear component=tdnnf3.linear input=tdnnf2.noop
component name=tdnnf3.affine type=TdnnComponent input-dim=128 output-dim=1024 l2-regularize=0.01 max-change=0.75 time-offsets=0,1
component-node name=tdnnf3.affine component=tdnnf3.affine input=tdnnf3.linear
component name=tdnnf3.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnnf3.relu component=tdnnf3.relu input=tdnnf3.affine
component name=tdnnf3.batchnorm type=BatchNormComponent dim=1024
component-node name=tdnnf3.batchnorm component=tdnnf3.batchnorm input=tdnnf3.relu
component name=tdnnf3.dropout type=GeneralDropoutComponent dim=1024 dropout-proportion=0.0 continuous=true
component-node name=tdnnf3.dropout component=tdnnf3.dropout input=tdnnf3.batchnorm
component name=tdnnf3.noop type=NoOpComponent dim=1024
component-node name=tdnnf3.noop component=tdnnf3.noop input=Sum(Scale(0.66, tdnnf2.noop), tdnnf3.dropout)
component name=tdnnf4.linear type=TdnnComponent input-dim=1024 output-dim=128 l2-regularize=0.01 max-change=0.75 use-bias=false time-offsets=-1,0 orthonormal-constraint=-1.0
component-node name=tdnnf4.linear component=tdnnf4.linear input=tdnnf3.noop
component name=tdnnf4.affine type=TdnnComponent input-dim=128 output-dim=1024 l2-regularize=0.01 max-change=0.75 time-offsets=0,1
component-node name=tdnnf4.affine component=tdnnf4.affine input=tdnnf4.linear
component name=tdnnf4.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnnf4.relu component=tdnnf4.relu input=tdnnf4.affine
component name=tdnnf4.batchnorm type=BatchNormComponent dim=1024
component-node name=tdnnf4.batchnorm component=tdnnf4.batchnorm input=tdnnf4.relu
component name=tdnnf4.dropout type=GeneralDropoutComponent dim=1024 dropout-proportion=0.0 continuous=true
component-node name=tdnnf4.dropout component=tdnnf4.dropout input=tdnnf4.batchnorm
component name=tdnnf4.noop type=NoOpComponent dim=1024
component-node name=tdnnf4.noop component=tdnnf4.noop input=Sum(Scale(0.66, tdnnf3.noop), tdnnf4.dropout)
component name=tdnnf5.linear type=TdnnComponent input-dim=1024 output-dim=128 l2-regularize=0.01 max-change=0.75 use-bias=false time-offsets=0 orthonormal-constraint=-1.0
component-node name=tdnnf5.linear component=tdnnf5.linear input=tdnnf4.noop
component name=tdnnf5.affine type=TdnnComponent input-dim=128 output-dim=1024 l2-regularize=0.01 max-change=0.75 time-offsets=0
component-node name=tdnnf5.affine component=tdnnf5.affine input=tdnnf5.linear
component name=tdnnf5.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnnf5.relu component=tdnnf5.relu input=tdnnf5.affine
component name=tdnnf5.batchnorm type=BatchNormComponent dim=1024
component-node name=tdnnf5.batchnorm component=tdnnf5.batchnorm input=tdnnf5.relu
component name=tdnnf5.dropout type=GeneralDropoutComponent dim=1024 dropout-proportion=0.0 continuous=true
component-node name=tdnnf5.dropout component=tdnnf5.dropout input=tdnnf5.batchnorm
component name=tdnnf5.noop type=NoOpComponent dim=1024
component-node name=tdnnf5.noop component=tdnnf5.noop input=Sum(Scale(0.66, tdnnf4.noop), tdnnf5.dropout)
component name=tdnnf6.linear type=TdnnComponent input-dim=1024 output-dim=128 l2-regularize=0.01 max-change=0.75 use-bias=false time-offsets=-3,0 orthonormal-constraint=-1.0
component-node name=tdnnf6.linear component=tdnnf6.linear input=tdnnf5.noop
component name=tdnnf6.affine type=TdnnComponent input-dim=128 output-dim=1024 l2-regularize=0.01 max-change=0.75 time-offsets=0,3
component-node name=tdnnf6.affine component=tdnnf6.affine input=tdnnf6.linear
component name=tdnnf6.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnnf6.relu component=tdnnf6.relu input=tdnnf6.affine
component name=tdnnf6.batchnorm type=BatchNormComponent dim=1024
component-node name=tdnnf6.batchnorm component=tdnnf6.batchnorm input=tdnnf6.relu
component name=tdnnf6.dropout type=GeneralDropoutComponent dim=1024 dropout-proportion=0.0 continuous=true
component-node name=tdnnf6.dropout component=tdnnf6.dropout input=tdnnf6.batchnorm
component name=tdnnf6.noop type=NoOpComponent dim=1024
component-node name=tdnnf6.noop component=tdnnf6.noop input=Sum(Scale(0.66, tdnnf5.noop), tdnnf6.dropout)
component name=tdnnf7.linear type=TdnnComponent input-dim=1024 output-dim=128 l2-regularize=0.01 max-change=0.75 use-bias=false time-offsets=-3,0 orthonormal-constraint=-1.0
component-node name=tdnnf7.linear component=tdnnf7.linear input=tdnnf6.noop
component name=tdnnf7.affine type=TdnnComponent input-dim=128 output-dim=1024 l2-regularize=0.01 max-change=0.75 time-offsets=0,3
component-node name=tdnnf7.affine component=tdnnf7.affine input=tdnnf7.linear
component name=tdnnf7.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnnf7.relu component=tdnnf7.relu input=tdnnf7.affine
component name=tdnnf7.batchnorm type=BatchNormComponent dim=1024
component-node name=tdnnf7.batchnorm component=tdnnf7.batchnorm input=tdnnf7.relu
component name=tdnnf7.dropout type=GeneralDropoutComponent dim=1024 dropout-proportion=0.0 continuous=true
component-node name=tdnnf7.dropout component=tdnnf7.dropout input=tdnnf7.batchnorm
component name=tdnnf7.noop type=NoOpComponent dim=1024
component-node name=tdnnf7.noop component=tdnnf7.noop input=Sum(Scale(0.66, tdnnf6.noop), tdnnf7.dropout)
component name=tdnnf8.linear type=TdnnComponent input-dim=1024 output-dim=128 l2-regularize=0.01 max-change=0.75 use-bias=false time-offsets=-3,0 orthonormal-constraint=-1.0
component-node name=tdnnf8.linear component=tdnnf8.linear input=tdnnf7.noop
component name=tdnnf8.affine type=TdnnComponent input-dim=128 output-dim=1024 l2-regularize=0.01 max-change=0.75 time-offsets=0,3
component-node name=tdnnf8.affine component=tdnnf8.affine input=tdnnf8.linear
component name=tdnnf8.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnnf8.relu component=tdnnf8.relu input=tdnnf8.affine
component name=tdnnf8.batchnorm type=BatchNormComponent dim=1024
component-node name=tdnnf8.batchnorm component=tdnnf8.batchnorm input=tdnnf8.relu
component name=tdnnf8.dropout type=GeneralDropoutComponent dim=1024 dropout-proportion=0.0 continuous=true
component-node name=tdnnf8.dropout component=tdnnf8.dropout input=tdnnf8.batchnorm
component name=tdnnf8.noop type=NoOpComponent dim=1024
component-node name=tdnnf8.noop component=tdnnf8.noop input=Sum(Scale(0.66, tdnnf7.noop), tdnnf8.dropout)
component name=tdnnf9.linear type=TdnnComponent input-dim=1024 output-dim=128 l2-regularize=0.01 max-change=0.75 use-bias=false time-offsets=-3,0 orthonormal-constraint=-1.0
component-node name=tdnnf9.linear component=tdnnf9.linear input=tdnnf8.noop
component name=tdnnf9.affine type=TdnnComponent input-dim=128 output-dim=1024 l2-regularize=0.01 max-change=0.75 time-offsets=0,3
component-node name=tdnnf9.affine component=tdnnf9.affine input=tdnnf9.linear
component name=tdnnf9.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnnf9.relu component=tdnnf9.relu input=tdnnf9.affine
component name=tdnnf9.batchnorm type=BatchNormComponent dim=1024
component-node name=tdnnf9.batchnorm component=tdnnf9.batchnorm input=tdnnf9.relu
component name=tdnnf9.dropout type=GeneralDropoutComponent dim=1024 dropout-proportion=0.0 continuous=true
component-node name=tdnnf9.dropout component=tdnnf9.dropout input=tdnnf9.batchnorm
component name=tdnnf9.noop type=NoOpComponent dim=1024
component-node name=tdnnf9.noop component=tdnnf9.noop input=Sum(Scale(0.66, tdnnf8.noop), tdnnf9.dropout)
component name=tdnnf10.linear type=TdnnComponent input-dim=1024 output-dim=128 l2-regularize=0.01 max-change=0.75 use-bias=false time-offsets=-3,0 orthonormal-constraint=-1.0
component-node name=tdnnf10.linear component=tdnnf10.linear input=tdnnf9.noop
component name=tdnnf10.affine type=TdnnComponent input-dim=128 output-dim=1024 l2-regularize=0.01 max-change=0.75 time-offsets=0,3
component-node name=tdnnf10.affine component=tdnnf10.affine input=tdnnf10.linear
component name=tdnnf10.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnnf10.relu component=tdnnf10.relu input=tdnnf10.affine
component name=tdnnf10.batchnorm type=BatchNormComponent dim=1024
component-node name=tdnnf10.batchnorm component=tdnnf10.batchnorm input=tdnnf10.relu
component name=tdnnf10.dropout type=GeneralDropoutComponent dim=1024 dropout-proportion=0.0 continuous=true
component-node name=tdnnf10.dropout component=tdnnf10.dropout input=tdnnf10.batchnorm
component name=tdnnf10.noop type=NoOpComponent dim=1024
component-node name=tdnnf10.noop component=tdnnf10.noop input=Sum(Scale(0.66, tdnnf9.noop), tdnnf10.dropout)
component name=tdnnf11.linear type=TdnnComponent input-dim=1024 output-dim=128 l2-regularize=0.01 max-change=0.75 use-bias=false time-offsets=-3,0 orthonormal-constraint=-1.0
component-node name=tdnnf11.linear component=tdnnf11.linear input=tdnnf10.noop
component name=tdnnf11.affine type=TdnnComponent input-dim=128 output-dim=1024 l2-regularize=0.01 max-change=0.75 time-offsets=0,3
component-node name=tdnnf11.affine component=tdnnf11.affine input=tdnnf11.linear
component name=tdnnf11.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnnf11.relu component=tdnnf11.relu input=tdnnf11.affine
component name=tdnnf11.batchnorm type=BatchNormComponent dim=1024
component-node name=tdnnf11.batchnorm component=tdnnf11.batchnorm input=tdnnf11.relu
component name=tdnnf11.dropout type=GeneralDropoutComponent dim=1024 dropout-proportion=0.0 continuous=true
component-node name=tdnnf11.dropout component=tdnnf11.dropout input=tdnnf11.batchnorm
component name=tdnnf11.noop type=NoOpComponent dim=1024
component-node name=tdnnf11.noop component=tdnnf11.noop input=Sum(Scale(0.66, tdnnf10.noop), tdnnf11.dropout)
component name=tdnnf12.linear type=TdnnComponent input-dim=1024 output-dim=128 l2-regularize=0.01 max-change=0.75 use-bias=false time-offsets=-3,0 orthonormal-constraint=-1.0
component-node name=tdnnf12.linear component=tdnnf12.linear input=tdnnf11.noop
component name=tdnnf12.affine type=TdnnComponent input-dim=128 output-dim=1024 l2-regularize=0.01 max-change=0.75 time-offsets=0,3
component-node name=tdnnf12.affine component=tdnnf12.affine input=tdnnf12.linear
component name=tdnnf12.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnnf12.relu component=tdnnf12.relu input=tdnnf12.affine
component name=tdnnf12.batchnorm type=BatchNormComponent dim=1024
component-node name=tdnnf12.batchnorm component=tdnnf12.batchnorm input=tdnnf12.relu
component name=tdnnf12.dropout type=GeneralDropoutComponent dim=1024 dropout-proportion=0.0 continuous=true
component-node name=tdnnf12.dropout component=tdnnf12.dropout input=tdnnf12.batchnorm
component name=tdnnf12.noop type=NoOpComponent dim=1024
component-node name=tdnnf12.noop component=tdnnf12.noop input=Sum(Scale(0.66, tdnnf11.noop), tdnnf12.dropout)
component name=tdnnf13.linear type=TdnnComponent input-dim=1024 output-dim=128 l2-regularize=0.01 max-change=0.75 use-bias=false time-offsets=-3,0 orthonormal-constraint=-1.0
component-node name=tdnnf13.linear component=tdnnf13.linear input=tdnnf12.noop
component name=tdnnf13.affine type=TdnnComponent input-dim=128 output-dim=1024 l2-regularize=0.01 max-change=0.75 time-offsets=0,3
component-node name=tdnnf13.affine component=tdnnf13.affine input=tdnnf13.linear
component name=tdnnf13.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=tdnnf13.relu component=tdnnf13.relu input=tdnnf13.affine
component name=tdnnf13.batchnorm type=BatchNormComponent dim=1024
component-node name=tdnnf13.batchnorm component=tdnnf13.batchnorm input=tdnnf13.relu
component name=tdnnf13.dropout type=GeneralDropoutComponent dim=1024 dropout-proportion=0.0 continuous=true
component-node name=tdnnf13.dropout component=tdnnf13.dropout input=tdnnf13.batchnorm
component name=tdnnf13.noop type=NoOpComponent dim=1024
component-node name=tdnnf13.noop component=tdnnf13.noop input=Sum(Scale(0.66, tdnnf12.noop), tdnnf13.dropout)
component name=prefinal-l type=LinearComponent input-dim=1024 output-dim=40  orthonormal-constraint=-1.0 max-change=0.75 l2-regularize=0.01
component-node name=prefinal-l component=prefinal-l input=tdnnf13.noop
component name=prefinal-chain.affine type=NaturalGradientAffineComponent input-dim=40 output-dim=1024 l2-regularize=0.01 max-change=0.75
component-node name=prefinal-chain.affine component=prefinal-chain.affine input=prefinal-l
component name=prefinal-chain.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=prefinal-chain.relu component=prefinal-chain.relu input=prefinal-chain.affine
component name=prefinal-chain.batchnorm1 type=BatchNormComponent dim=1024
component-node name=prefinal-chain.batchnorm1 component=prefinal-chain.batchnorm1 input=prefinal-chain.relu
component name=prefinal-chain.linear type=LinearComponent input-dim=1024 output-dim=40 l2-regularize=0.01 max-change=0.75 orthonormal-constraint=-1 
component-node name=prefinal-chain.linear component=prefinal-chain.linear input=prefinal-chain.batchnorm1
component name=prefinal-chain.batchnorm2 type=BatchNormComponent dim=40
component-node name=prefinal-chain.batchnorm2 component=prefinal-chain.batchnorm2 input=prefinal-chain.linear
component name=output.affine type=NaturalGradientAffineComponent input-dim=40 output-dim=4552  l2-regularize=0.005 max-change=1.5 param-stddev=0.0 bias-stddev=0.0
component-node name=output.affine component=output.affine input=prefinal-chain.batchnorm2
output-node name=output input=output.affine objective=linear
component name=prefinal-xent.affine type=NaturalGradientAffineComponent input-dim=40 output-dim=1024 l2-regularize=0.01 max-change=0.75
component-node name=prefinal-xent.affine component=prefinal-xent.affine input=prefinal-l
component name=prefinal-xent.relu type=RectifiedLinearComponent dim=1024 self-repair-scale=1e-05
component-node name=prefinal-xent.relu component=prefinal-xent.relu input=prefinal-xent.affine
component name=prefinal-xent.batchnorm1 type=BatchNormComponent dim=1024
component-node name=prefinal-xent.batchnorm1 component=prefinal-xent.batchnorm1 input=prefinal-xent.relu
component name=prefinal-xent.linear type=LinearComponent input-dim=1024 output-dim=40 l2-regularize=0.01 max-change=0.75 orthonormal-constraint=-1 
component-node name=prefinal-xent.linear component=prefinal-xent.linear input=prefinal-xent.batchnorm1
component name=prefinal-xent.batchnorm2 type=BatchNormComponent dim=40
component-node name=prefinal-xent.batchnorm2 component=prefinal-xent.batchnorm2 input=prefinal-xent.linear
component name=output-xent.affine type=NaturalGradientAffineComponent input-dim=40 output-dim=4552  learning-rate-factor=5.0 l2-regularize=0.005 max-change=1.5 param-stddev=0.0 bias-stddev=0.0
component-node name=output-xent.affine component=output-xent.affine input=prefinal-xent.batchnorm2
component name=output-xent.log-softmax type=LogSoftmaxComponent dim=4552
component-node name=output-xent.log-softmax component=output-xent.log-softmax input=output-xent.affine
output-node name=output-xent input=output-xent.log-softmax objective=linear
